.card-price-container {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 4.375rem;

  background-color: #000000cc;
  color: #faebd7;
  font-family: Calibri, "Trebuchet MS", sans-serif;

  padding: 0.625rem;
}

.card-price-title {
  margin: 0 0 0.188rem 0;
}

.card-price-value {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-price-value-console {
  display: flex;
  flex-direction: row;
}

.card-price-value-console > span {
  font-weight: bolder;
  color: #00ffff;
  margin: 0 0.625rem 0 0;
}

.card-price-value-money {
}
