<div class="menu-bar-container">
  <div class="menu-bar-logo">
    <img src="assets/ps-logo.png" alt="Logo" width="140px" />
  </div>
  <div class="menu-bar-item">
    <ul>
      <li>
        <a href="https://www.linkedin.com/in/gabrielgbcode/" target="_blank"
          >Linkedin</a
        >
      </li>
      <li>
        <a href="https://github.com/GabrielGBcode" target="_blank">Github</a>
      </li>
      <li>
        <a href="https://www.instagram.com/gabrielgb.zip/" target="_blank"
          >Instagram</a
        >
      </li>
    </ul>
  </div>
</div>
